ex00/Animal.o
ex00/Cat.o
ex00/Dog.o
ex00/WrongAnimal.o
ex00/WrongCat.o
ex00/a.out
ex00/main.o
ex01/Animal.o
ex01/Brain.o
ex01/Cat.o
ex01/Dog.o
ex01/a.out
ex01/main.o
ex02/Animal.o
ex02/Brain.o
ex02/Cat.o
ex02/Dog.o
ex02/a.out
ex02/main.o
